@import "../../base/base";
@import "../../themes/variable";
@import "../../components/component";

.job-detail {
    // margin-top: 100px;
    position: relative;
    .container {
        margin-top: 110px;
        .job-detail-title {
            line-height: 36px;
            @include text($fz-xl3, $fw-bold, $c0-text-dark);
            padding: 20px 0 34px;
        }
        .job-detail-optionbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
                display: flex;
                gap: 0.5rem;
                .btn {
                    margin: 0 6px 0 0;
                    padding: 6px 12px;
                    border: 1px solid $c0-bg-light1;
                    border-radius: 4px;
                    @include text($fz-base, $fw-semibold, $c0-text-dark);
                }
                .dropdown-menu {
                    border: 1px solid $c0-bg-light1;
                    border-radius: 4px;
                    min-width: 240px;
                    padding: 18px;
                    z-index: 1000;
                    .dropdown-item {
                        @include text($fz-small2, $fw-semibold, $c0-text-dark2);
                        padding: 4px 0;
                        display: flex;
                        justify-content: space-between;
                        span {
                            color: $c0-text-dark1;
                        }
                    }
                    .dropdown-item.active {
                        color: $c0-bg-button;
                        background: none;
                    }
                }
                .dropdown-menu.show {
                    position: absolute;
                    will-change: transform;
                    top: 0px;
                    left: 0px;
                    transform: translate3d(0px, -126px, 0px);
                    display: block;
                }
            }
            .right {
                display: flex;
                align-items: center;
                gap: 40px;
                .form-check-input:checked {
                    background-color: $c0-bg-button;
                    border-color: $c0-bg-button;
                }
            }
        }
        .job-detail-sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .categories-amount {
                line-height: 22px;
                padding: 0 10px;
                @include text($fz-small2, $fw-semibold, $c0-text-dark1);
            }
            .sort-by {
                span {
                    font-size: $fz-base;
                    padding: 0;
                }
                select {
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding-right: 5px;
                    @include text($fz-base, $fw-bold, $c0-text-dark);
                }
            }
        }
        .text-not-found {
            @include text($fz-xl2, $fw-bold, $c0-text-dark);
        }
        .job-detail-content {
            .card {
                overflow: hidden;
                border-radius: 15px;
                box-shadow: 0 0 15px 0 rgba(167, 167, 167, 0.7411);
                .card-body {
                    .seller-info {
                        display: flex;
                        justify-content: flex-start;
                        height: 65px;
                        .avatar {
                            width: 30%;
                            img {
                                width: 70%;
                                border-radius: 50%;
                                padding-top: 3px;
                            }
                        }
                        .info {
                            h5 {
                                font-weight: $fw-medium;
                            }
                            p {
                                font-size: $fz-small1;
                            }
                        }
                    }
                    .card-text {
                        .name-job {
                            display: inline-block;
                            height: 55px;
                            line-height: 22px;
                            transition: 0.15s ease-in-out;
                            @include text($fz-base, $fw-medium, $c0-text-dark);
                        }
                        .name-job:hover {
                            color: #1dbf73;
                        }
                    }
                    .rating {
                        color: #ffbe5b;
                        .star-rate {
                            font-weight: $fw-bold;
                            margin: 0 5px 0;
                        }
                        .rating-amount {
                            @include text($fz-base, $fw-medium, $c0-text-dark1);
                        }
                    }
                }
                .card-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $c0-bg-light;
                    padding: 10px 12px;
                    i {
                        color: $c0-text-dark1;
                        cursor: pointer;
                    }
                    .price {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            display: inline-block;
                            letter-spacing: 0.5px;
                            margin: 0 5px 0;
                            @include text($fz-small, $fw-bold, $c0-text-dark1);
                        }
                        span {
                            line-height: 20px;
                            @include text($fz-xl, $fw-semibold, $c0-text-dark2);
                        }
                    }
                }
            }
        }
    }
}



