@import "../../base/base";
@import "../../themes/variable";
@import "../../components/component";

.container {
  .title {
    // padding-top: 20px;
    text-align: center;
    @include text($fz-xl4, $fw-semibold, $c0-text-red);
  }
  .tab-pane {
    .row {
      .col-4 {
        padding-right: 135px;
      }
    }
  }
}

.custom-green-text {
  @include text($fz-base, $fw-medium, $c0-text-purple);
}

.form-add {
  display: block;
  .row {
    .input-left {
      .form-group {
        label {
          @include text($fz-small2, $fw-medium, $c0-text-green1);
        }
        .form-input {
          width: 95%;
          height: 50px;
          .invalid-feedback {
            margin-left: 10px;
          }
        }
        .bg-light {
          width: 95%;
        }
      }
    }
    .input-right {
      .form-group {
        label {
          @include text($fz-small2, $fw-medium, $c0-text-green1);
        }
        .form-input {
          width: 95%;
          height: 50px;
          .invalid-feedback {
            margin-left: 10px;
          }
        }
        section {
          display: flex;
          align-items: center;
          margin-left: 10px;
          p {
            margin: 0 10px 0 10px;
          }
        }
      }
      .btn-update {
        padding: 8px 16px;
        outline: none;
        background-color: #1dbf73;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #fff !important;
        font-weight: 700;
        transition: color 0.2s, background-color 0.2s, box-shadow 0.2s,
          border 0.2s;
        &:hover {
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.form-update {
  display: block;
  .row {
    .input-left {
      .form-group {
        label {
          @include text($fz-small2, $fw-medium, $c0-text-green1);
        }
        .form-input {
          width: 95%;
          height: 50px;
          .invalid-feedback {
            margin-left: 10px;
          }
        }
        .bg-light {
          width: 95%;
        }
      }
    }
    .input-right {
      .form-group {
        label {
          @include text($fz-small2, $fw-medium, $c0-text-green1);
        }
        .form-input {
          width: 95%;
          height: 50px;
          .invalid-feedback {
            margin-left: 10px;
          }
        }
        section {
          display: flex;
          align-items: center;
          margin-left: 10px;
          p {
            margin: 0 10px 0 10px;
          }
        }
      }
      .btn-update {
        padding: 8px 16px;
        outline: none;
        background-color: #1dbf73;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #fff !important;
        font-weight: 700;
        transition: color 0.2s, background-color 0.2s, box-shadow 0.2s,
          border 0.2s;
        &:hover {
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.lable-JobType {
  line-height: 2.9;
}
