@import "../../base/base";
@import "../../themes/variable";
@import "../../components/component";

.profile .gigs {
  width: 65%;
  padding-left: 20px;
  .gigs-top {
    margin-bottom: 20px;
    .gigs-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #dadbdd;
      @include text($fz-small2, $fw-regular, $c0-text-dark);
      padding: 30px;
      position: relative;
      span {
        @include text($fz-xl, $fw-semibold, $c0-text-dark2);
        width: 70%;
      }
      button {
        background-color: $c0-bg-button;
        border: 1px solid transparent;
        border-radius: 3px;
        @include text($fz-base, $fw-bold, $c0-text-light1);
        transition: color 0.2s, background-color 0.2s, box-shadow 0.2s,
          border 0.2s;
        &:hover,
        &:focus {
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  .gigs-bottom {
    .gigs-card {
      border: 1px solid $c0-text-light;
      @include text($fz-small2, $fw-medium, $c0-text-dark);
      margin-bottom: 20px;
      padding: 15px;
      position: relative;
      .gigs-info {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        .gigs-info-img {
          width: 40%;
        }
        .gigs-info-content {
          display: flex;
          flex-direction: column;
          width: 60%;
          h1 {
            @include text($fz-base, $fw-bold, $c0-text-dark);
          }
          p {
            @include text($fz-small2, $fw-medium, $c0-text-dark);
            margin-bottom: 1em;
          }
          .rating {
            display: flex;
            justify-content: space-between;
            .left {
              @include text($fz-small2, $fw-bold, $c0-text-star);
              .rating-amount {
                @include text($fz-base, $fw-regular, $c0-text-dark1);
              }
            }
            .right {
              p {
                @include text($fz-xl, $fw-regular, $c0-text-dark2);
              }
            }
          }
        }
      }
      .gigs-action-zone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          @include text($fz-base, $fw-semibold, $c0-text-dark2);
          margin: 0;
        }
        span {
          color: $c0-text-grey;
        }
        .gigs-btn {
          .btn-gigs {
            border: 1px solid transparent;
            border-radius: 3px;
            @include text($fz-base, $fw-bold, $c0-text-light1);
            transition: color 0.2s, background-color 0.2s, box-shadow 0.2s,
              border 0.2s;
            &:hover,
            &:focus {
              box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
            }
          }
          .btn-success {
            background-color: $c0-bg-button;
          }
        }
      }
    }
  }
  .custom-pagination ul {
    justify-content: center;
  }
}
