@import "../../base/base";
@import "../../themes/variable";
@import "../../components/component";

.job-detail-wrapper {
    .check-out-box {
      position: sticky;
      top: 40px;
      .ant-tabs-content-holder {
        border: 1px solid $c0-bg-light3;
        border-top: none;
      }
      .ant-tabs-nav {
        margin: 0;
        .ant-tabs-nav-list {
          width: 100%;
          .ant-tabs-tab {
            width: 33.33%;
            justify-content: center;
            margin: 0;
            @include text($fz-base, $fw-bold, $c0-text-grey1);
            background-color: $c0-bg-light2;
            border: 0.5px solid $c0-bg-light3;
            border-bottom: 2px solid $c0-bg-light3;
            border-radius: 0;
            padding: 16px;
            &:hover {
              color: $c0-bg-button;
            }
          }
          .ant-tabs-tab:nth-child(2) {
            border: none;
            border-bottom: 2px solid $c0-bg-light3;
            border-top: 1px solid $c0-bg-light3;
          }
          .ant-tabs-tab-active {
            background-color: $c0-bg-light;
            .ant-tabs-tab-btn {
              color: $c0-bg-button;
            }
          }
          .ant-tabs-ink-bar {
            background-color: $c0-bg-button;
          }
        }
      }
      .box-content {
        padding: 24px;
        .price {
          span {
            @include text($fz-xl2, $fw-semibold, $c0-text-dark);
          }
        }
        .short-desc {
          @include text($fz-small2, $fw-regular, $c0-text-grey1);
          margin: 20px 0;
        }
        .additional-info {
          .delivery,
          .revision {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: $c0-text-grey1;
          }
          span {
            font-weight: $fw-semibold;
          }
        }
        .feature {
          li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            i {
              @include text($fz-base, $fw-bold, $c0-bg-button);
            }
            span {
              margin-bottom: 2px;
              @include text($fz-base, $fw-semibold, $c0-text-dark1);
            }
          }
        }
        .action {
          // padding: 0 24px 12px;
          width: 75%;
          margin-left: 57px;
          .checkout-btn {
            background-color: $c0-bg-button;
            border: 1px solid transparent;
            border-radius: 4px;
            line-height: 100%;
            padding: 12px 24px;
            text-align: center;
            width: 100%;
            @include buttonSearch;
          }
          p {
            @include text($fz-base, $fw-semibold, $c0-bg-button);
            display: inline-block;
            padding: 12px;
            text-align: center;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }
  