@import "../../base/base";
@import "../../themes/variable";
@import "../../components/component";

.page-login {
  padding: 135px 0 40px;
  background-color: $c0-bg-bgproduct;
  .login {
    width: 75%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding-top: 20px;
    .login-left {
      width: 50%;
      padding: 30px;
      border-right: 1px solid #e4e5e7;
      overflow: hidden;
      div {
        margin-bottom: 50px;
        text-align: center;
      }
    }
    .login-right {
      width: 50%;
      overflow: hidden;
      .container {
        .title-signin {
          margin-bottom: 20px;
          @include text($fz-xl3, $fw-semibold, $c0-text-green1);
        }
        .login-title {
          .form-group {
            display: flex;
            .input-field {
              width: 85%;
              height: 50px;
              .form-control {
                margin-left: 10px;
              }
              .invalid-feedback {
                margin-left: 10px;
              }
            }
            .fa-solid {
              line-height: 36px;
            }
          }
          .typesubmitLogin {
            margin: 10px 50px 0;
            .registerNow {
              margin-top: 20px;
              @include text($fz-base, $fw-medium, $c0-text-green1);
              font-style: italic;
              cursor: pointer;
              transition: color 0.3s;
            }
            .registerNow:hover {
              color: $c0-bg-button;
            }
            .submitLogin {
              .btn {
                @include button($fz-base, $fw-medium, $c0-text-light1, $c0-bg-button, none, #157347, $c0-text-light);
                border-radius: 45px;
                height: 43px;
                text-transform: uppercase;
                transition: all 0.3s ease-in-out;
                width: 90px;
              }
            }
          }
        }
      }
    }
  }
}
