@import "../../base/base";
@import "../../themes/variable";
@import "../../components/component";

.page-job-title {
  margin-top: 120px;
  .job-categories-banner {
    height: 240px;
    margin: 32px 0;
    position: relative;
    .banner-container {
      background-color: $c0-bg-jobTitle;
      background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/509f310d48d17eafe768a87f78d10af8-1688626459703/G_D-%20Desktop%20banner.png");
      background-position: 50%;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: cover;
      border-radius: 10px;
      height: 100%;
      .banner-content {
        color: $c0-text-light1;
        line-height: 1.2;
        h1 {
          @include text($fz-xl3, $fw-semibold, $c0-text-light1);
          margin: 0;
        }
        p {
          margin: 8px 0 0;
          @include text($fz-xl1, $fw-regular, $c0-text-light1);
        }
        button {
          margin-top: 24px;
          padding: 10px 16px;
          span {
            margin-left: 5px;
          }
        }
      }
    }
  }

  // Popular
  .job-categories-popular {
    h1 {
      @include text($fz-xl2, $fw-semibold, $c0-text-dark2);
    }
    .popular-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 94px;
      margin-left: -10px;
      margin-right: -10px;
      overflow: hidden;
      overflow-x: scroll;
      padding: 10px;
      .popular-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.19),
          0 1px 5px rgba(0, 0, 0, 0.096), 0 3px 7px rgba(0, 0, 0, 0.195);
        height: 100%;
        margin-right: 12px;
        padding: 12px;
        img {
          height: 100%;
          margin-right: 10px;
        }
        span {
          @include text($fz-base, $fw-semibold, $c0-text-dark2);
          line-height: 1.2;
          margin-right: 9px;
          white-space: nowrap;
        }
      }
    }
  }

  // Explore
  .job-categories-explore {
    .container {
      .title {
        @include text($fz-xl2, $fw-semibold, $c0-text-dark2);
        line-height: 1.2;
      }
      .explore-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: -10px;
        .explore-item {
          margin-bottom: 15px;
          padding: 10px;
          width: 25%;
          img {
            border-radius: 10px;
            max-height: 162px;
            width: 100%;
          }
          h1 {
            @include text($fz-xl1, $fw-semibold, $c0-text-dark);
            line-height: 1.2;
            margin: 20px 0;
          }
          p {
            display: block;
            @include text($fz-xl, $fw-medium, $c0-text-grey1);
            line-height: 1.2;
            margin-bottom: 0;
            a {
              border-radius: 7px;
              color: $c0-text-dark1;
              display: block;
              margin-left: -10px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-top: 10px;
              &:hover {
                background-color: $c0-bg-bgproduct;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  // Services-Related
  .services-related {
    .container {
      h1 {
        @include text($fz-xl2, $fw-bold, $c0-text-dark2);
        line-height: 1.2;
      }
      .services-related-content {
        span {
          background-color: $c0-bg-light1;
          border-radius: 32px;
          line-height: 1.2;
          @include text($fz-small2, $fw-bold, $c0-bg-grey1);
          margin: 0 5px 15px;
          padding: 8px 10px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 719px) {
  .page-job-title {
    margin-top: 180px;
  }
}

@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .page-job-title {
    margin-top: 230px;
  }
}

@media screen and (max-width: 992px) {
  .job-categories-explore .container .explore-content .explore-item img {
    height: 125px;
  }
}
